<agm-marker [latitude]="marker.geometry.location.lat" [longitude]="marker.geometry.location.lng" [iconUrl]="marker.icon">

  <agm-snazzy-info-window [isOpen]="true" [latitude]="marker.geometry.location.lat" [longitude]="marker.geometry.location.lat"
    [closeWhenOthersOpen]="true" [maxWidth]="900" [maxHeight]="900" *ngIf="marker" [padding]="'20px'">
    <ng-template>
      <div class="marker--container">
        <div>
          <a mat-raised-button routerLink="/" matTooltip="See more" [matTooltipPosition]="toolTip" color="accent" aria-label="Button that displays a tooltip in various positions">
            See more
            <mat-icon class="mat-icon-rtl-mirror">location_on</mat-icon>
          </a>
          <button class="rent--button" (click)="rentIt()" mat-raised-button matTooltip="Rent" color="primary" [matTooltipPosition]="toolTip" aria-label="Button that displays a tooltip in various positions">
            Rent it!
            <mat-icon class="mat-icon-rtl-mirror">restaurant</mat-icon>
          </button>
        </div>
        <div class="info">
          <h1>{{marker.name}}</h1>
        </div>
      </div>
      <img [src]="googleApiPhoto | safeUrl" alt="photo">
      <div>
        <b>Rating:</b>
        <app-mat-star-rating [rating]="5" [starCount]="marker.rating" [color]="'primary'"></app-mat-star-rating>
        <p *ngIf="marker.opening_hours" ><b>Open Now: </b>
          <mat-chip selected [color]="marker.opening_hours.open_now ? 'primary' : 'warn'">{{marker.opening_hours.open_now
            ? 'Yes' : 'No'}}</mat-chip>
        </p>
        <p><b>Vicinity:</b> {{marker.vicinity}}</p>
      </div>
    </ng-template>
  </agm-snazzy-info-window>
</agm-marker>
