<div class="container">
  <h1>Your rents</h1>
  <mat-card class="review--card">
    <div class="review--card-title">
      <div class="review--card-content row">
        <div class="col-xs-12 col-md-6 col-xl-3">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="3123">
        </div>
        <div class="col-xs-12 col-md-6 col-xl-9">
          <p class="review--card-author">Nombre</p>
          <small>Modelo</small>
          <p>asdfasdfasdf</p>
          <mat-card-actions>
              <button mat-raised-button color="accent">See More</button>
              <button mat-raised-button color="primary">Favorite <mat-icon class="mat-icon-rtl-mirror">favorite_border</mat-icon>
                <mat-icon class="mat-icon-rtl-mirror">favorite</mat-icon></button>
                <button mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>
