mat-card {
  margin: 20px 0px;
  img {
    border-radius: 6px;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 250px;
    }
  }
  mat-card-actions {
    button {
      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
